.mainpageContainer {
  width: 1200px;
  height: calc(100vh - 168px) !important;
  margin: 25px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.header {
  font-size: 38px;
  margin: 20px 0;
}

.paragraph {
  font-size: 25px;
  white-space: pre-wrap;
  margin: 10px 0;
}

@media screen and (max-width: 1250px) {
  .mainpageContainer {
    width: 1000px !important;
  }
}

@media screen and (max-width: 1000px) {
  .mainpageContainer {
    width: 800px !important;
  }
}

@media screen and (max-width: 800px) {
  .mainpageContainer {
    width: 600px !important;
  }
}

@media screen and (max-width: 600px) {
  .mainpageContainer {
    width: 400px !important;
    height: 1400px !important;
  }
}

@media screen and (max-width: 400px) {
  .mainpageContainer {
    width: 200px !important;
    height: 2200px !important;
  }
}
