.mainpageContainer {
  width: 1200px;
  height: calc(100vh - 168px) !important;
  margin: 25px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.header {
  font-size: 35px;
  margin: 20px 0;
}

.paragraph {
  font-size: 22px;
  white-space: pre-wrap;
  margin: 10px 0;
}
