.app {
  width: 100vw;
  height: 100vh !important;
  height: max-content;
  position: relative;
}

body {
  height: 100vh !important;
}

.mainContainer {
  width: 1920px;
  height: max-content;
  margin: 0 auto !important;
  position: relative;
}

.loading {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  z-index: 1000000;
}

@media screen and (max-width: 1903px) {
  .mainContainer {
    width: 100% !important;
  }
}

@media screen and (max-width: 1500px) {
}
