html {
  width: 100% !important;
  height: max-content;
}

body {
  width: 100%;
  height: max-content !important;
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden !important;
}

#root {
  width: 100%;
  height: max-content;
}
