.mainpageContainer {
  width: 1200px;
  height: calc(100vh - 168px) !important;
  margin: 50px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.header {
  font-size: 38px;
  margin: 20px 0;
  color: white;
}

.paragraph {
  font-size: 25px;
  white-space: pre-wrap;
  margin: 10px 0;
}

.login {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
